<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/js/mainPost.js"></script>
    </head>
    <body>
        <h1>type in the name and sex:</h1>
        <form method="POST" action="/addFriend" id="myForm">
            name: <input type="text" name="nameInput" id ="nameInput"></input> <br/>
            sex: <input type="text" name="sexInput" id="sexInput"></input> <br/>
            <button>submit</button>
        </form>
        <ul id="fdUl">
            
        </ul>
    </body>
</html>