<html>
    <head>
        <title>forecast</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/main.js"></script>
        <link href="/main.css" rel="stylesheet"></link>
    </head>
    <body>
        <h1>type in your zipcode:</h1>
        <form method="GET" name="form">
            <input type="number" placeholder="12345" required name="zip"></input>
            <button>submit</button>
        </form>
    </body>
</html>