<html>
    <head>
        
    </head>
    <body>
        <h1>welcome to movie search!</h1>
        <form method="GET" action="/search">
            movie name: <input type="text" name="mname" placeholder="type the movie"></input>
            <button>submit</button>
        </form>
    </body>
</html>