<html>
    <head></head>
    <body>
        <ul>
            <% result.forEach(function(m){ %>
             <li> movie title: <%=m.Title%> - movie year: <%=m.Year%> </li>   
            <% }) %>
        </ul>
    </body>
</html>


