<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="/js/main.js"></script>
    </head>
    <body>
        <h1>type in the sex </h1>
        <input type="text" id='sexInput' placeholder="type the sex"></input>
        <button id="sexBtn">submit</button>
        <div>
            <ul id="fdUl">
                
            </ul>
        </div>
    </body>
</html>